<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <title>Document</title>
</head>

<body>
  <!-- <div class="nav-fixed">
    <nav class="nav-nuestros-productos"> -->
      <!-- <%- include('navbar') %> -->
    </nav>
  </div>

  <h1>Listado de productos</h1>

  <a href="/admins/crear-producto">
    <p class="crear-producto">Crear nuevo producto</p>
  </a>

  <% for( let p = 0; p < productos.length; p++ ) { %>
  <div class="contenedor-tarjeta-producto">
    <div class="contenedor-imagen">
      <img src="/images/<%= productos[p].images %> " alt="">
      <h3><%= productos[p].name %> </h3>
      <form action="/admins/borrar" method="post">
        <button type="submit">Eliminar producto</button>
      </form>
      <a href="/admins/editar:id"><button>Editar producto</button></a>
    </div>
  </div>

  <% } %>

  <footer>
    <%- include('footer') %>
  </footer>
</body>

</html>