<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <title>Document</title>
</head>

<body>

  <%- include('navbar') %>

  <h1 class="titulo-admins">Listado de productos</h1>

  <div class="contenedor-btn-nuevo-producto">
    <a href="/admins/crear-producto">
      <button type="button">
        <p class="crear-producto">Crear nuevo producto</p>
      </button>
    </a>
  </div>

  <% for( let p = 0; p < productos.length; p++ ) { %>
  <div class="contenedor-tarjeta-producto">
    <div class="contenedor-flex-productos-admins">
      <div class="contenedor-imagen">
        <img src="/images/<%= productos[p].images %> " alt="">
      </div>
      <div class="informacion-detalles">
        <h4>ID del producto: </h4>
        <h3><%= productos[p].idProducto %> </h3>
        <h4>Nombre: </h4>
        <h3><%= productos[p].name %> </h3>
        <h4>Categoría: </h4>
        <h3><%= productos[p].brand %></h3>
        <h4>Precio: </h4>
        <h3><%= productos[p].price %> </h3>
        <h4>Descripción: </h4>
        <h3><%= productos[p].description %> </h3>
      </div>
    </div>
    <div class="contenedor-btns-admins">
      <form action="/admins/borrar/<%= productos[p]._id %>" method="post" class="form-borrar-admins">
        <div class="item-form-admins">
          <a href="/admins/editar/<%= productos[p].id %> "><button type="button" class="btns-form-admins">Editar</button></a>
        </div>
        <div class="item-form-admins">
          <button type="submit" class="btns-form-admins">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
  </div>

  <% } %>

  <footer>
    <%- include('footer') %>
  </footer>
</body>

</html>