<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <title>Document</title>
</head>

<body>


  <section class="contenedor-form-carga-de-prod contenedor-editar-prod">
    <div class="contenedor-titulo-editar">
      <h3>
        Editando <%= producto.name %>
      </h3>
    </div>
    <form action="/admins/guardarCambios/<%= producto._id %> " method="post" enctype="multipart/form-data">
      <h2>Carga de productos</h2>
      <div class="item-form-carga-de-prod">
        <label for="idDelProducto">
          <span>ID del producto</span>
        </label>
        <input type="text" id="idDelProducto" name="idDelProducto" value="<%= producto.idProducto %>"/>
      </div>
      <div class="item-form-carga-de-prod">
        <label for="nombre">
          <span>Nombre</span>
        </label>
        <input type="text" id="nombre" name="name" value="<%= producto.name %> " />
      </div>
    </div>
    <div class="item-form-carga-de-prod">
      <label for="brand">
        <span>Selecciona una categoría</span>
      </label>
      <select name="brand" id="categoria" value="<%= producto.brand %> ">
        <option>Hamburguesas</option>
        <option>Papas fritas</option>
        <option>Bebidas</option>
        <option>Postres</option>
        <option>Especialidades</option>
      </select>
    </div>
      <div class="item-form-carga-de-prod">
        <label for="precio">
          <span>Precio (en $)</span>
        </label>
        <input type="number" id="precio" name="price" step="0.01" value="<%= producto.price %>"/>
      </div>
      <div class="item-form-carga-de-prod item-descr">
        <label for="descripcion descripcion-nvo-prod">
          <span>Descripción</span>
        </label>
        <textarea name="description" id="descripcion" cols="30" rows="10"> <%= producto.description %> </textarea>
      <div class="item-form-carga-de-prod item-imagen">
        <img src="/images/<%= producto.images %> " alt="" id="previsualizacionDeImagen">
        <label for="foto">
          <span>Cargar foto</span>
        </label>
        <input type="file" id="foto" name="images" accept="image/*" />
      </div>
      <div class="item-form-carga-de-prod btns">
        <button type="submit">Guardar cambios</button>
      </div>
    </form>
  </section>

  <script src="/js/previsualizarImagen.js"></script>
</body>

</html>