<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('head') %>

  <title>Nuestras burguers</title>

</head>

<body>

  <%- include('navbar') %>

  <div class="titulo-productos">
    <h2>¡Nuestras burguers!</h2>
  </div>

  <div class="hamburguesas">
    <% for( let i = 0; i < productos.length; i++ ) { %>
    <div class="item-hamburguesa">
      <h4 class="nombre-de-producto"><%= productos[i].name %> </h4>
      <img src="/images/<%= productos[i].images %> " alt="">
      <div class="contenedor-a-detalles">
        <h4>Cod. <%= productos[i].idProducto %> </h4>
        <div class="contenedor-btn-ver-detalles">
          <a href="/productos/detalles/<%= productos[i]._id %> ">Ver detalles</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>

  <footer>
    <%- include('footer') %>
  </footer>
</body>

</html>